.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log

node_modules
public/dist
bower_components

# images
client/public/images

# Icon must ends with two \r.
Icon


# Floobits
.floo
.floobit
.floo
.flooignore
